body {
    width: 100vw;
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

html {
    text-align: center;
}

.navbar-container {
    height: 12vh;
    width: 100%;
}

.navbar-bottom {
  width: 100%;
  height: 5vh;
}

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 7vh;
  background: rgb(19, 25, 33);
}

.location-info {
height: 50%;
width: 7rem;
}

.location-span-top,
.location-span-bottom {
  color: white;
}

.location-span-top {
  font-size: 1.2rem;
}

.location-span-bottom {
  font-weight: bold;
  font-size: 1.5rem;

}

.sprite-location {
	background: url('/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -71px -306px;
	width: 17px;
	height: 20px;
}

.search-bar-left {
  padding: 1.6rem;
  background-color: #f3f3f3;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}

.search-bar {
  padding: 1.5rem 50rem;
}

.sprite-cart {
	background: url('/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -218px -337px;
	width: 41px;
	height: 28px;
}

.cart-items {
  color: rgb(255, 164, 28);
  font-size: 1.8rem;
  padding: 1.8rem;
}

.sprite-logo {
	background: url('/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -10px -51px;
	width: 96px;
	height: 29px;
}

.navbar-bottom {
  background-color: rgb(35, 47, 62);

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
}

.navbar-bottom ul li a {
  padding: 0.8rem;
}

.navbar-bottom ul li a:hover{
  border: 2px solid white;
}

.navbar-bottom-right ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-bottom-left ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-bottom-left ul li {
  margin: auto 1.5rem;
}

.navbar-bottom-left ul,
.navbar-bottom-right ul {

  margin: 2rem;
  padding: 2rem;

  list-style: none;
  font-size: 1.5rem;
}

ul li a{
  color: white;
  text-decoration: none;
}

.ruller-container {
  height: 10vh;
  width: 100%;
}

.ruller-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid gray;
}

.ruller-1 ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  list-style: none;
}

.ruller-1 ul li {
  margin: auto 1.5rem;
}

.ruller-1 ul li a {
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
}

.ruller-1 ul li a:hover {
  color: rgb(255, 164, 28);
  border-bottom: 2px solid rgb(255, 164, 28);
}

.ruller-1,
.ruller-2 {
  width: 100%;
  height: 5vh;
}

.ruller-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container .left a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.main-container .left a:hover {
  text-decoration: underline;
}

.main-container .left {
  position: relative;
  font-size: 1.2rem;
  overflow: hidden;
}

#big {
  width: 30rem;
}

.img {
  display: block;
}

.main-container .left {
    width: 20%;
    height: 100%;
    border: 2px solid black;
}
.main-container .middle {
  width: 50%;
  height: 100%;
  border: 2px solid black;
}
.main-container .right {
  width: 20%;
  height: 100%;
  border: 2px solid black;
}

.main-container .middle {
  font-size: 2.8rem;
}

.author {
  font-size: 1.5rem;
}

.btn-left,
.btn-right {
  background-color: white;
  padding: 0.5rem;
}

.container-bought-together,
.container-also-viewed {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    height: 50vh;
    width: 90%;
    border: 2px solid black;
    overflow: hidden;
}


.card {
  width: 8rem;
  height: 90%;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0,0,0,0.2);
  width: 7rem;
}

.card:hover {
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0,0,0,0.2);
}

#image {
  width: 7rem;
  height: 7rem;
  background: url(../img/pic.jpg) no-repeat center center/cover;
}

.left-arrow,
.right-arrow {
  
}
