$dark-yellow: rgb(255, 164, 28);
$light-yellow: rgb(255, 216, 20);
$light-light-grey: rgb(254, 248, 242);
$light-grey: rgb(172, 172, 172);
$dark-grey: rgb(86, 89, 89);
$aqua: rgb(20, 124, 143);
$red: rgb(177, 39, 4);
$green: rgb(0, 118, 0);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$navbar-bottom: rgb(35, 47, 62);