@import 'variables';

$navbar-dark-color: rgb(35, 47, 62);
$navbar-light-color: rgb(55, 71, 90);
$light-grey: rgb(247, 248, 248);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  @extend %flex;
  font-size: 62.5%;
  width: 100vw;
  height: 100hv;
  font-family: Arial, Helvetica, sans-serif;

  flex-direction: column;
}

.cart {
  @extend %flex;
  width: 100%;
  height: 5.2vh;
  background-color: $navbar-dark-color;
  overflow: hidden;
  justify-content: space-between;

  .sprite-hamburger {
    background: url('/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -136px -255px;
    width: 20px;
    height: 18px;
    margin: 0 15px
  }

  .sprite-logo {
    background: url('/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -10px -90px;
    width: 76px;
    height: 23px;
  }

  .sprite-cart {
    background: url('/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -10px -340px;
    width: 38px;
    height: 26px;
  }
}

.navbar {
  @extend %flex;
  width: 100%;
  height: 5.2vh;
  background-color: $navbar-dark-color;
  overflow: hidden;

  input[type="text"] {
    padding: 15px 80px;
    border: 1px solid black;
    border-radius: 10px;
    width: 95vw;
    height: 90;
  }
}

.deliver {
  @extend %flex;
  justify-content: flex-start;
  width: 100%;
  height: 5.2vh;
  background-color: $navbar-light-color;
  color: white;
  overflow: hidden;

  label {
    font-size: 1.3rem
  }

  .sprite-location {
    background: url('/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -71px -306px;
    width: 17px;
    height: 20px;
    margin: 0 8px
  }
}

.prime {
  @extend %flex;
  width: 100%;
  height: 5.2vh;
  background-color: $light-grey;
  overflow: hidden;
  justify-content: flex-start;

  img {
    width: 35px;
  }

  p {
    font-size: 1.3rem;
    margin-left: 15px;
    
    &.down {
      color: red;

      label {
        color: red;
        font-size: large
      }
    }
  }
}
.text-up {
  @extend %flex;
  height: 2vh;
  width: 100%;
  justify-content: flex-end;

  label {
    font-size: 1.1rem;
    margin-right: 20px
  }
}  
.text {
  @extend %flex;
  width: 100%;
  height: 16vh;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;

  .text-down {
    @extend %flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 15px;
    margin-top: 20px;
    flex-direction: column;

    .author {
      font-size: 1.5rem;
      color: $aqua
    }

    .title-up,
    .title-down {
      font-size: 1.7rem;
      font-weight: bold
    }

    .rating-stars {
      display: flex;
      justify-content: center;
      align-items: center;
      background: url('/assets/images/sprites_rating.png') no-repeat -2px -22px;
      width: 80px;
      height: 15px;
    }

    .book {
      color: $aqua;
      font-size: 1.4rem
    }
  }
}

.big-image {
  @extend %flex;
  align-items: flex-start;
  width: 100%;
  height: 47vh;
  overflow: hidden;

  img {
    width: 52%;
  }
}

.phone-buttons {
  @extend %flex;
  width: 100%;
  height: 10vh;
  overflow: hidden;

  .left {
    background-color: white;
    padding: 16px 50px;
    border: 1px solid $dark-grey;

    &-3 {

    }

    .bold-1 {
      font-weight: bold;
      font-size: 1.7rem;
    }

    .yellow {
      color: $light-yellow;
    }

    .bold-2 {
      font-weight: bold;
    }
  }

  .right {
    padding: 23px 70px;
    border: 3px solid $dark-yellow;

    &-1 {
      font-weight: bold;
    }

    &-2 {
      font-weight: bold;
      color: $red;
      font-size: 1.6rem;
    }
  }
}

.shop {
  @extend %flex;
  width: 100%;
  height: 5.2vh;
  overflow: hidden;
  justify-content: flex-start;

  label {
    margin-left: 20px;
    color: $aqua;
    font-size: 1.4rem;
  }
}